.alert {
}

.alert p {
  font-style: italic;
}

.infoAlert {
  color: #3322F0;
}

.errorAlert {
  color: #F0402E;
}

.errorAlert.border {
  border: 1px solid #F0402E;
  border-radius: 5px;
  padding: 10px;
}
